# 1. Introduction
The scope of the notebook is to prepocess the dataset and perform data exploration

# 2. Load Data

In [13]:
# Import libraries
import os
import pandas as pd

# Get the train.csv path
main_dir = os.path.dirname(os.getcwd())
file_path = main_dir + '\\data\\raw\\train.csv'

# Load train.csv
train_dataset = pd.read_csv(file_path)

# 3. Descriptive Statistics

In [105]:
# List all the available columns
train_columns = train_dataset.columns.to_list()

# Include a description for the columns based on Kaggle
train_columns_description = ['Survival', 
                       'Ticket class', 
                       'Sex', 
                       'Age in years', 
                       '# of siblings/spouses', 
                       '# of parents/children', 
                       'Ticket number', 
                       'Passenger fare',
                       'Cabin number',
                       'Port of Embarkation']

# Map descriptions to columns
train_columns = dict(zip(train_columns, train_columns_description))
train_columns

{'PassengerId': 'Survival',
 'Survived': 'Ticket class',
 'Pclass': 'Sex',
 'Name': 'Age in years',
 'Sex': '# of siblings/spouses',
 'Age': '# of parents/children',
 'SibSp': 'Ticket number',
 'Parch': 'Passenger fare',
 'Ticket': 'Cabin number',
 'Fare': 'Port of Embarkation'}

## 3.1. train_dataset Samples

In [31]:
train_dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 3.2 Describe train_dataset

### 3.2.1. Data Types, Missing Values and Cardinality

In [106]:
# Extract the data type of the columns
train_dataset_dtype = train_dataset.dtypes

# Calculate the number of null values for each column
train_dataset_nulls = train_dataset.isnull().sum()

# Calculate the unique values (cardinality) of the features
train_dataset_cardinality = train_dataset.nunique()

# Build the DataFrame
train_dataset_info = pd.DataFrame({'Data Type': train_dataset_dtype,
                                   'Nulls': train_dataset_nulls,
                                   'Cardinality': train_dataset_uniques}
                                 ).reset_index().rename(columns = {'index': "Feature"})
train_dataset_info

        Feature Data Type  Nulls  Cardinality
0   PassengerId     int64      0          891
1      Survived     int64      0            2
2        Pclass     int64      0            3
3          Name    object      0          891
4           Sex    object      0            2
5           Age   float64    177           88
6         SibSp     int64      0            7
7         Parch     int64      0            7
8        Ticket    object      0          681
9          Fare   float64      0          248
10        Cabin    object    687          147
11     Embarked    object      2            3

### 3.2.2. Statistics metrics

In [118]:
# Describe the train_dataset
train_dataset.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [124]:
# Extract categorical columns
train_cat_cols = train_dataset.select_dtypes(include = 'object').columns

# Extract numerical columns and calculate the skew
train_numeric_cols = train_dataset.select_dtypes(include = ['int64', 'float64']).columns
train_numeric_cols_skew = train_dataset[train_numeric_cols].skew()
train_numeric_cols_skew

PassengerId    0.000000
Survived       0.478523
Pclass        -0.630548
Age            0.389108
SibSp          3.695352
Parch          2.749117
Fare           4.787317
dtype: float64

# 4. Handling Missing Values (manually)

PassengerId    0.000000
Survived       0.478523
Pclass        -0.630548
Age            0.389108
SibSp          3.695352
Parch          2.749117
Fare           4.787317
dtype: float64

# 4. Distribution and Visualization

# 5. Correlation and Relationship

# 7. Feature Transformation

# 8. Next Steps